@charset "utf-8";

.h1 {
	font-family:LaoUIb;
	font-size: 24px;
	color:#C00;
	}

.h2 {
	font-family:LaoUI;
	font-size: 16px;
	color:#000;
	text-align:justify;
	}
	
	.h3 {
	font-family:LaoUI;
	font-size: 16px;
	color:#000;
	text-align:right;
	}
	
.box {
	width:282px;
	max-width:282px;
	height:28px;
	max-height:28px;
	padding:4px;
	background-color:transparent;
	border-color:transparent;
	font-family:LaoUI;
	font-size: 16px;
	color: #666;
	}